<div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game A</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Shrewsbury
        <div class="scores-home">@scoreH</div>
      </div>
      <div class="teams-away">Cheltenham
        <div class="scores-away">2</div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: None</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div id="extra" class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>
@code {
    [Parameter]
    public string? scoreH { get; set; }
}
