@page "/fixtures"
<h3>Fixtures</h3>

<div class="fixture-flex-container">

  <div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game A</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Shrewsbury
        <div class="scores-home"></div>
      </div>
      <div class="teams-away">Cheltenham
        <div class="scores-away"></div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: None</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div id="extra" class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game B</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Ipswitch Twon
        <div class="scores-home"></div>
      </div>
      <div class="teams-away">Sunderland
        <div class="scores-away"></div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: Lost</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game C</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Morecambe
        <div class="scores-home"></div>
      </div>
      <div class="teams-away">Fleetwood
        <div class="scores-away"></div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: None</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game D</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Cambridge United
        <div class="scores-home"></div>
      </div>
      <div class="teams-away">Rotherham
        <div class="scores-away"></div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: None</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game E</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Plymouth Argle
        <div class="scores-home"></div>
      </div>
      <div class="teams-away">Charlton
        <div class="scores-away"></div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: None</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-headings">
      <span class="fixture-head">Game F</span>
      <span class="fixture-date">18/12/2021</span>
      <span class="fixture-time">15:00</span>
    </div>

    <div class="teams teams-flex-container">
      <div class="teams-home">Oxford United
        <div class="scores-home"></div>
      </div>
      <div class="teams-away">Wigan Athletic
        <div class="scores-away"></div>
      </div>
    </div>
    <div class="fixture-footer">
      <span class="fixture-footer-status">Status: <span class="fixture-status">Not Started</span></span>
      <span class="fixture-time">Bet Result: None</span>
      <span class="fixture-expand" onclick="expandFixture()">+</span>
    </div>
    <div class="extra hidden">hi
      <span class="one">One</span><br>
      <span class="two">Two</span><br>
      <span class="three">Three</span>
    </div>
  </div>

</div>

@code {

}
